html {
    width: 600px;
    margin: auto;
    background-color: #F0F0F0;
}

body {
    margin: auto;
    background-color: #cfd3f2;
    padding: 0px 20px 20px 20px;
    border:1px  solid #000000 ;
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 20px;
}

#whisple {
    font-size: 15px;
    color: #676767
}

#timeAndName {
    text-align: right;
}

#xiaoIceGif {
    display: block;
    margin: auto;
}

#animatedDog {
    display: block;
    margin: auto;
}

#birthdayCake600Px {
    display: block;
    margin-left: -20px;
}
